@media screen and (min-width: 1200px) {
    .countdownContainer {
        width: 70%;
        margin: auto;
        min-height: 50%;
    }

    .timer {
        height: 80%;

        &__title {
            font-size: 1.7rem;
        }
    }

    .counter {
        width: 20%;

        &__box {
            min-height: 70%;
            display: flex;
            box-shadow: inset 0 84px var(--box-color-bgSecondary), 0 13px var(--box-color-shadow);

            &::before {
                height: 15px;
                width: 15px;
                top: 46%;
                left: -7.5px;
                box-shadow: 179px 0 var(--box-color-shadow);
            }

            &::after {
                height: 1.5px;
                top: 50%;
            }
        }

        &__number {
            width: 100%;
            margin: auto 0;
            font-size: 6rem;
        }
    }

    .footer {
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: auto;
        background-position: 85% 0px;
        padding-top: 0;

        &__socialMediaImg:hover {
            color: var(--text-color-number);
        }
    }
}
