:root {
    // Colors
    --bg-gradient: linear-gradient(hsl(251, 18%, 12%) 15%, hsl(270, 21%, 13%), hsl(271, 23%, 18%));

    --text-color-title: hsl(0, 0%, 100%);
    --text-color-paragraph: hsl(237, 18%, 59%);
    --text-color-number: hsl(345, 95%, 68%);

    --box-color-bgPrimary: hsl(235, 21%, 26%);
    --box-color-bgSecondary: hsla(235, 15%, 14%, 0.63);
    --box-color-shadow: hsl(234, 17%, 12%);
}
