* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    font-size: 16px;
    font-family: "Red Hat Text", sans-serif;
    background-image: var(--bg-gradient);
    color: var(--text-color-title);
}

a {
    text-decoration: none;
}
